/* CAROUSEL CONTAINER AND WRAPPER */
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  white-space: nowrap;
  transition: transform 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* INDIVIDUAL ITEM GROUP WITHIN CAROUSEL*/
.carousel-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18em;

  /* ! Revisit */
  background-color: var(--light);
}

/* CAROUSEL CONTENT: IMAGE, TEXT, ... */
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-text {
  position: absolute;
  bottom: 0;
  left: 0;

  white-space: normal;
  width: 100%;
  padding: 10px 20px;

  text-align: center;

  color: var(--light);
}

/* CAROUSEL BUTTON CONTROLLERS */
.carousel-buttons {
  display: flex;
  justify-content: space-evenly;

  background-color: var(--dark);
}

.button-arrow {
  margin-top: 5px;
  font-size: 1.5em;
}

.button-arrow svg {
  transition: all 0.2s ease-in;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  font-size: 1.2em;
}

.indicators svg {
  transition: all 0.2s ease-in;
}

/* ON HOVER: CAROUSEL BUTTONS */
.button-arrow svg:hover {
  color: var(--accent);
  transition: all 0.1s ease-out;
}

.indicators svg:hover {
  color: var(--accent);
  transition: all 0.1s ease-out;
}

/* ON CLICK: CAROUSEL BUTTONS */
.button-arrow svg:active {
  transform: scale(0.95);
}

.indicators svg:active {
  transform: scale(0.95);
}
