/* HEADER CONTAINER AND CONTENT WITHIN */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  /*!BACKGROUND COLOR */
  background-color: var(--medium-dark);
}

/* LEFT ON HEADER: LOGO SECTION*/
.logo h1 {
  padding: 12px;
  font-weight: normal;
  font-size: 2em;
  /* color: var(--theme); */
}

/* RIGHT ON HEADER: NAV SECTION*/
.nav-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

/* NAV CONTAINER FOR LINKS (NOT CART AND SEARCH)*/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* INDIVIDUAL NAV LINKS */
nav a {
  padding: 10px 8px;

  /* ! Revisit */
  font-family: "Exo 2", sans-serif;
  font-variant: small-caps;
  font-weight: bold;

  transition: all 0.3s ease-in-out;
}

/* NAV CONTAINER FOR UTILS: SEARCH, CART, HAMBURGER */
.nav-utils {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

/* SEARCH ICON */
.search-icon {
  font-size: 1.2em;
  padding: 0 5px;
}

/* CART ICON */
.cart-icon {
  margin-top: 5px;
  font-size: 1.7em;
  padding: 0 5px;
}

/* PHONE HAMBURGER ICON */
.sliding-menu-icon {
  display: none;
  cursor: not-allowed;
  pointer-events: none;
  font-size: 1.4em;
  padding: 0 5px;
}

/* PHONE HAMBURGER CONTENT */
.sliding-menu-content {
  display: none;
}

/* Laptops */
@media screen and (max-width: 1024px) {
}

/* Tablets */
@media screen and (max-width: 992px) {
}

/* Large smartphones */
@media screen and (max-width: 768px) {

  nav {
    display: none;
  }

  .sliding-menu-icon {
    display: inline;
    cursor: pointer;
    pointer-events: auto;
  }

  .sliding-menu-content {
    display: flex;
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
}
