/* !Revisit =========================V */
.welcome-container {
  margin: 10px 0px;
  background-color: var(--dark);
}

.welcome-text {
  text-align: center;
  font-family: 'Ysabeau', sans-serif;
}

.welcome-text h3 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1rem 0;
}

.category-outer-container {
  position: relative;
  background-color: var(--dark);
}

.welcome-container span,
.category-outer-container span {

  font-family: 'Ysabeau SC', sans-serif;
  font-variant: small-caps;

  font-size: 8rem;
  line-height: 1;

  font-style: italic;
  font-weight: 500;

  filter: opacity(0.9);
  color: var(--medium-dark);
}

/* !Revisit =========================^ */

/* SHOP CATEGORIES CONTAINER */
.category-container {
  padding: 20px;
}

/* INDIVIDUAL CATEGORY ITEM*/
.category-item {
  padding: 15px;
  margin: 10px;

  text-align: center;

  background-color: var(--medium-dark);
  border: 1px solid var(--opacity-medium);
  border-radius: 5px;

  /* IMPORTANT: MAX SIZE OF CATEGORY BLOCK */
  width: 220px;
  height: auto;
}

/* CATEGORY ITEM: IMAGE FOR CATEGORY */
.category-item img {
  max-width: 100%;
  height: auto;
}

/* CATEGORY ITEM: LINK FOR CATEGORY */
.category-item a {
  font-size: 1.5rem;
  font-weight: 600;

  /*!Revisit color: var(--light); */
}
