@import url('https://fonts.googleapis.com/css2?family=Exo&family=Exo+2&family=Roboto&family=Ysabeau&family=Ysabeau+Infant&family=Ysabeau+Office&family=Ysabeau+SC&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLORS STAY THE SAME ACROSS THEMES (DARK AND LIGHT MODE) */
  --always-light: #ffffff;
  --always-dark: #000000b9;
  --success: #28a745;
  --warning: #f54323;
}

/* MAIN: FULL PAGE STYLE CONFIGURATION */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  color: var(--light);
  background-color: var(--medium-dark);
}

/* DARK MODE THEME: COLORS */
.dark {
  /* DARK MODE: LIGHT AND DARK COLORS */
  --light: #fff;
  --medium: #bfbfbf;
  --opacity-medium: #40404077;
  --medium-dark: rgb(37, 37, 37);
  --dark: #131313;

  /* !Revisit */
  /* UNIQUE THEME COLOR STYLE (WHEN LIGHT MODE) */
  --unique: #d608ff;
  --theme: #8321a1;

  --text: #61afef;
  --accent: #56b6c2;
  --link: #c678dd;
  /* --selection: #4b5263; */

  /* UNIQUE BUTTON COLOR STYLE (WHEN LIGHT MODE) */
  /* --btn-hover-left: #c9d7eb;
  --btn-hover-right: #d4ddee;
  --btn-bd: #3f4c6b;
  --btn-outline: #606c88;
  --btn-left: #506188;
  --btn-right: #626e8a; */
}

/* LIGHT MODE THEME: COLORS */
.light {
  /* LIGHT MODE: LIGHT AND DARK COLORS */
  --light: #000;
  --medium: #404040;
  --opacity-medium: #bfbfbf86;
  --medium-dark: rgb(218, 218, 218);
  --dark: #ffffff;

  /* !Revisit */
  /* UNIQUE THEME COLOR STYLE (WHEN LIGHT MODE) */
  --unique: rgb(27, 211, 211);
  --theme: #618adf;

  --text: #a61e4d;
  --accent: #025dd4;
  --link: #007acc;
  /* --selection: #add8e6; */

  /* UNIQUE BUTTON COLOR STYLE (WHEN LIGHT MODE) */
  /* --btn-hover-left: #1b4728;
  --btn-hover-right: #1b4233;
  --btn-bd: #c0b392;
  --btn-outline: #9f9377;
  --btn-left: #af9e77;
  --btn-right: #9d9175; */
}

/* =================== UTILITIES =================== */
/* ACTIVE NAV LINK */
.active {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--accent);
}

/* DISABLED BUTTON, TAB, OR SELECTION */
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}

/* GLASS EFFECT */
.frost {
  /* From https://css.glass */
  background: var(--opacity-medium);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* FLEX-GRID LAYOUT */
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  box-sizing: border-box;
}

/* ! Revisit */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* =================== DEFAULT STYLES =================== */
/* REMOVE LINK UNDERLINE */
a {
  text-decoration: none;
  color: var(--link);
}

/* DEFAULT HEADER SIZES */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

h3 {
  font-size: 1.8em;
  line-height: 1.1;
}

h4 {
  font-size: 1.4em;
  line-height: 1.1;
}

h5 {
  font-size: 1.2em;
  line-height: 1.1;
}

/* DEFAULT PARAGRAPH SIZE */
p {
  font-size: 1.1em;
  line-height: 1.3;
  filter: drop-shadow(5px 3px 10px var(--opacity-medium));
}

/* =================== Media Queries =================== */
/* Laptops */
/* @media screen and (max-width: 1024px) {
  header h1{
    color: green;
  }
} */

/* Tablets */
/* @media screen and (max-width: 992px) {
  header h1{
    color: rgb(226, 205, 17);
  }
} */
/* Large smartphones */
/* @media screen and (max-width: 768px) {
  header h1{
    color: rgb(218, 18, 184);
  }
} */

/* Small smartphones */
/* @media screen and (max-width: 576px) {
  header h1{
    color: rgb(21, 186, 207);
  }
} */

/* font-family: 'Exo', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ysabeau', sans-serif;
font-family: 'Ysabeau Infant', sans-serif;
font-family: 'Ysabeau Office', sans-serif;
font-family: 'Ysabeau SC', sans-serif; */